@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.overlock-sc-regular {
  font-family: "Overlock SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.play-regular {
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.play-bold {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.rysiek {
  font-family: "Georgia, 'Times New Roman', Times, serif";
  font-weight: 400;
  font-style: normal;
}
